.tarjeta-curso {
    padding-bottom: 0;
    text-align: center;
}

.imagen-curso {
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.blog-info {               /*Texto de la imagen de directores*/
    color: var(--white);
    bottom: 1rem;
    left: 1rem;
    max-width: 100%;
}

.titulo-imagen-curso {
    font-size: 1.6rem;
}

.Yara-Guazu{            /*Imagen index*/
    margin-top: 0em;
    margin-left: 0em;
    width: 33.75em;
    max-width: 100%;
}

.imagenes-nosotros{
    padding-top: 0;
}

.tarjeta-texto{
    margin-top: 4rem;
}

.comentario{
    margin: 0rem;
    align-items: center;
}

.fotos{
    overflow: hidden;
}

.fotos img:hover{
    transition:all .5s ease-in-out; /*Para que el cambio no sea brusco*/
    transform:scale(1.05);
}

.video-pitch {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-left: 1rem;
}

.video-pitch iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

