
.Titulo-compra{
    color: var(--light-grey);
    text-align: center;
    margin-top: 1rem;
}

.Sub-titulo-compra{
    color: #ff6600;
    font-size: 1.5rem;
    text-align: center;
}

.text-dark{
    font-weight: 570;
}

.text-white{
    font-weight: 570;
}
  
/*-----------------------------------imágenes compra-----------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.img-compra:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.075);
}

.container-compra {
    overflow: hidden;
    margin-bottom: 1rem;
    max-width: 100%;
}

.img-compra{
    height: 18.5rem;
    max-height: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

/*-----------------------------------Fin imágenes compra-------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.badge {              /*Los que dicen ta te ti, pucket y dominó (recuadros)*/
    font-weight: 500;
    padding: .5rem 1.5rem;
    line-height: 1.5;
}

.content-center {      /*margenes de compra_exitosa y compra_en_proceso*/
    max-width: 800px;
    /*Arriba | Derecha | Abajo | Izquierda*/
    margin: 70px auto 70px auto;
    text-align: center;
  }

  .video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-left: 1rem;
}

.video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*----------------------- Q-COMPRA ------------------------*/

.q-compra {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 33, .6);
    background-image: url("../images/Puckie/JuegosTerminados.jpg");
    background-size: cover;
    background-position: center;
}

.q-compra h4 {
    margin-top: 3rem;
}

.q-compra a:hover{
    background-color: #ff822f !important;
}

/*--------------------- Carrito ----------------------------*/

.carrito {
    margin: auto;
}

.redes-carrito {
    text-align: left;
}

.redes-carrito li {
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 1rem;
}
