/*Carousel*/
.carousel-inner1{       /*Altura carousel index*/
    height: 91vh;
}

#slider {               
    padding: 5rem 0 0 0;
}

.carousel-item1 img{
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.carousel-caption1 h3{
    
    font-size: 300%;
}

.carousel-caption1 p{
    
    font-size: 200%;
    font-weight: bold;
}

.texto-carousel{
    max-width: 10em;
    justify-content: center;
    margin: 1rem auto;
    background-color: orangered;
}

.texto-carousel-tercera{
    max-width: 10em;
    justify-content: center;
    margin: 1rem auto;
    background-color: orangered;
}

.sub-titulo-carousel{
    max-width: 20em;
    justify-content: center;
    margin: 1rem auto;
    background-color:var(--dark);
}

.sub-titulo-carousel-tercera{
    max-width: 20em;
    justify-content: center;
    margin: 1rem auto;
    background-color:var(--dark);
}

/*Fin carousel*/


/*Cartas*/
.Yara-Guazu{            /*Imagen index*/
    margin-top: 0em;
    margin-left: 0em;
    width: 33.75em;
    max-width: 100%;
}

.prueba{                    /*Subclase de la imagen Puckie*/
    height: 40rem;
    object-fit: cover;
}

.puckie{               /*Imagen index*/
    height: 500px;
    max-width: 100%;
}

.fotos{
    overflow: hidden;
}

.fotos img:hover{
    transition:all .5s ease-in-out; /*Para que el cambio no sea brusco*/
    transform:scale(1.05);
}

.mt-6{                 /*Separación de las targetitas con el zorro, las fichas y eso*/ 
    margin-top: 4rem;
    margin-bottom: 4rem;
}
/*Fin cartas*/


/*Formulario de contacto*/
.form-control {
    padding: 1.5rem 1rem;
    font-weight: 300;
    border: 0;
}

.email{
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--dark);
}
/*Fin formulario de contacto*/


/*Campana*/

.texto-foto-campana{     
    margin: 0rem;
    z-index: 1;
}

.blog-info {               /*Texto de la imagen de Campana*/
    color: var(--white);
    bottom: 1rem;
    left: 1.5rem;
    max-width: 20rem;
    object-fit: cover;
}

.imagen-campana{       /*index*/
    height: 31.25rem;
    max-width: 100%;
    object-fit: cover;
    border: 0.1rem solid var(--dark);
    border-color: var(--dark);
    filter: saturate(60%);
    z-index: 2;
}
/*Fin Campana*/


/*Boton de enviar*/
.btn {                 
    padding: .5rem 1.8rem;
    border-radius: .2rem;
    
}

.btn-secondary {        
    background-color: var(--dark);
}
/*Fin boton de enviar*/

.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-left: 1rem;
}

.video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}