
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    max-width: 100%;
}


.instrucciones h3{
    font-style: normal!important;
}

.texto-p{
    text-align: justify;
    font-style: normal!important;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.texto-blanco{
    color: var(--white)!important;
}

/*Posicion Imagenes Carousel*/
.carousel-config img{
    width: 100%;
    object-fit: cover;
}

/*Configuración Carousel*/
.carousel-config{
    width: 100%;

}

.carousel-inner2{
    border: 0.1rem solid var(--white);
    border-color: var(--white);
}

.titulos-puckie{
    font-style: normal!important;
    margin-bottom: 0rem!important;
}

.tecnicas{
    margin: 0.5rem;
}

.foto-tecnica{
    margin: 0rem;
    padding: 0rem;
    margin-left: 1rem!important;
}

.cont-foto-tecnica{
    padding: 0rem!important;
    overflow: hidden;
    border-radius: 1%;
    padding-left: 2rem;
}

a {
	text-decoration: none;
	color: var(--gold);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}

/*--------------------------------------- Sección video ----------------------------------------------------------------*/
.video {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  section .container {
    position: relative;
    z-index: 2;
  }
  
  section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

/*--------------------------------------- Fin sección video ----------------------------------------------------------------*/

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}
.pasos {
	font-size: 1.2rem;
	max-width: 700px;
    color: var(--primary-color);
    margin: 1rem;
    padding-top: 2rem;
    margin-left: 5rem ;
}

.img-gn{
    max-width: 100%;
    width: 23.4rem;
    display: block;
    margin: auto;
}

.cont-row{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%!important;
}
